.modal {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    z-index: 2;
    background-color: #628ca0;

    .modal__container {
        margin-left: 10%;
        margin-bottom: 5%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .modal__input {
        width: 80%;
        padding-left: 10px;
        height: 24px;
    }

    .modal__text {
        font-size: 1.3rem;
    }

    .modal__btn-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
    }
}