.submit-modal-btn {
  background-color: #65c783;
  width: 120px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.close-modal-btn {
  background-color: #628ca0;
  width: 80px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
