.error-page-container {
  width: 50%;
  margin: auto;

  .error-page-picture {
    width: 50%;
    margin-left: 25%;
  }

  .error-page-notification {
    font-size: 2rem;
    text-align: center;
  }
}
